<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>


</head>


<body class="w-full h-screen bg-gray-600 dark:bg-gray-800">
  
 <button id="uploadmenu" class="p-3 bg-green-500 hover:bg-green-600 rounded font-bold text-white">Upload Files</button>
 
 <div id="filesmenu" class="flex flex-col gap-2">
  <% files.forEach((file)=>{ %>
  <div class="bg-gray-700 flex h-full rounded-lg p-1 m-2 justify-between">
  <img src="<%=file.disppath%>" width="200px" height="200px">
  <h1 class="text-white text-xl"><%=file.originalname%></h1>
  <a href="<%=file.path%>" download="<%=file.originalname%>"
    class="text-blue-500 mr-0 text-xl">
    <i class="ri-download-2-line"></i>
  </a>
  </div>
 <% }) %> 
 
 </div>
 
 

<div class="flex items-center justify-center h-screen bg-blur relative">
   
  <form 
action="/upload" 
method="post"
enctype="multipart/form-data"
class="hidden"
id="uploadform">

  
<div class="flex items-center justify-center w-screen max-w-sm">
    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
        </div>
        <input id="dropzone-file" type="file" name="file" class="hidden" />
    </label>
</div> 
<button type="submit" class="p-3 font-semibold  bg-blue-600 text-white mt-4 hover:bg-blue-800 rounded-lg">Upload</button>

</button>
</form>
<button id="exit" class="text-3xl text-red-600 absolute top-55 right-100 hidden">
  <i class="ri-close-circle-line"></i>

</div>




  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>


  <script>
    

      const uploadmenubtn=document.getElementById("uploadmenu")
      const exitbtn=document.getElementById("exit")

      
      uploadmenubtn.addEventListener("click",()=>{
        uploadmenubtn.classList.add("hidden")
        document.getElementById("filesmenu").classList.add("hidden")
        document.getElementById("uploadform").classList.remove("hidden")
         exitbtn.classList.remove("hidden")
      })

      
       
        exitbtn.addEventListener("click",()=>{
        uploadmenubtn.classList.remove("hidden")
        document.getElementById("filesmenu").classList.remove("hidden")
        document.getElementById("uploadform").classList.add("hidden")
        exitbtn.classList.add("hidden")
        })


  
  </script>
  
</body>
</html>